[Unit]
Description=Runs Duplicacy backup script every day at 6:25 AM

[Timer]
OnCalendar=*-*-* 06:25:00
Persistent=true

[Install]
WantedBy=timers.target
